.offendersContainer {
  width: 45vw;
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
